@use '../../../partials/variables';

header {

    padding-inline: 16px;
    padding-block: 8px;
    background-color: variables.$accent-color;
    color: variables.$main-color;

}

.navBar {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navBar > div {
    padding-right: 50px;
}

.headerLinks {
    display: flex;
    align-items: center;
}

.headerLinks > div {
    padding-right: 20px;
    padding-left: 20px;
}

.burger {
  display: none;
}

@media (max-width: variables.$mobile-breakpoint) {
    .burger {
        display: block;
        margin-left: auto;
    }

    .navBar {
        justify-content: space-between;
    }

    .navBar > div {
        padding-right: 20px;
    }

    .headerLinks {
        display: none; 
        flex-direction: column;
        background: variables.$accent-color;
        position: absolute;
        top: 60px;  
        right: 0;
        width: 200px;
        padding: 10px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }

    .headerLinks.open {
        display: flex; 
    }
}