.addItemForm{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .inputResize{
        width:90%;
        height: 20px;
    }

    .labelResize{
        height: 20px;
    }
}

