<!-- Gotta check inputs on server to stop the Tomfoolery. -->
<div [formGroup]="itemForm" class="addItemForm homeSubComp" >
    <label for="itemLabel" class="labelResize">Label: </label>
    <input type="text" required placeholder="Take out the trash." name="itemLabel" formControlName="label" maxlength="30" class="inputResize"/>
    <label for="itemDesc" class="labelResize">Description (optional): </label>
    <input type="text" required placeholder="My spouse will get mad." name="itemDesc" formControlName="description" maxlength="200" class="inputResize"/>
    <label for="dueDate" class="labelResize">Due Date: </label>
    <input type="date" name="dueDate" formControlName="dueDate" class="inputResize"/>
</div>
<app-stdbutton [label]="`Add Item`" [action]="addItemAction" class="grid-pos-2-2"></app-stdbutton>
