@use '../../../partials/variables';


.headerText {
    color: variables.$accent-color;
    font-size: 50px;
    text-decoration: underline;
    padding-top: 50px;
}

@media (max-width: variables.$stop-pc-breakpoint) {
    .headerText{
        font-size: clamp(24px, 4vw, 50px);
    }
}