@use '../../../styles.scss';

.headerText {
    color: styles.$accent-color;
    font-size: 50px;
    text-decoration: underline;
    padding-top: 50px;
}

@media (max-width: styles.$stop-pc-breakpoint) {
    .headerText{
        font-size: clamp(24px, 4vw, 50px);
    }
}