@use '../../../partials/variables';


.headerText {
    color: variables.$accent-color;
    font-size: variables.$header-text;
    text-decoration: underline;
    padding-top: variables.$header-text;
}

@media (max-width: variables.$stop-pc-breakpoint) {
    .headerText{
        font-size: clamp(variables.$header-text-min, variables.$scale-text-factor, variables.$header-text);
        padding-top: clamp(variables.$header-text-min, variables.$scale-text-factor, variables.$header-text)
    }
}