@use '../src/partials/variables';

@font-face {
  font-family: 'Papyrus';
  src: url('/public/papyrus.woff2') format('woff2'),
       url('/public/papyrus.woff') format('woff'),
       url('/public/papyrus.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}


html, body {
    margin: 0;
    padding: 0;
    font-family: Papyrus, fantasy; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 26.4px;
    background-color: variables.$main-color;
}

* {
    outline: none;
}

.removeBulletPoint {
    list-style-type: none;
}

.makeMouseOverPointer {
    cursor: pointer;
    -webkit-text-stroke: 1px transparent;
    transition: color 0.5s ease, -webkit-text-stroke-color 0.5s ease;

    &:hover {
      -webkit-text-stroke-color: variables.$hover-color;
    }
}

@mixin dynamic-grid($rows, $cols) {
  display: grid;
  padding: 5px;
  gap: 10px;
  grid-template-columns: repeat($cols, 1fr);
  grid-auto-rows: auto;

  @for $row from 1 through $rows {
    @for $col from 1 through $cols {
      .grid-pos-#{$row}-#{$col} {
        grid-row: $row;
        grid-column: $col;
      }
    }
  }
  &.text-left {
    video {
      grid-column: 2;
    }
    .text {
      grid-column: 1;
    }
  }
}

@for $rows from 1 through 6 {
  @for $cols from 1 through 6 {
    .dynamicGrid-#{$rows}x#{$cols} {
      @include dynamic-grid($rows, $cols);
    }
  }
}

.centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shiftRightDiv {
  display: flex;
  justify-content: end;
  align-items: center;

  @media (max-width: variables.$mobile-breakpoint) {
    justify-content: center;
  }
}

.flexText {
    padding: 20px;
    color: variables.$accent-color;
    text-wrap: wrap;
    text-align: center;
    font-size: 20px;
}

@media (max-width: variables.$stop-pc-breakpoint) {
    .flexText{
        font-size: clamp(12px, 2vw, 20px);
    }
}

.flexTwoItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-items: flex-start;

  video {
    max-width: 100%;
    border: 2px solid black;
    border-radius: 10px;
  }

  img {
    border: 2px solid black;
    border-radius: 10px;
  }

  div {
    width: 100%;
    max-width: 400px;
    color: #333;
  }

  &.text-left {
    flex-direction: row-reverse;
  }

  @media (max-width: variables.$mobile-breakpoint) {
    flex-direction: column; 
    align-items: center;   

    &.text-left {
      flex-direction: column; 
    }

    div {
      max-width: 100%;    
      text-align: center;   
    }
  }
}