@use '../../../partials/variables';

.headerText {
    color: variables.$accent-color;
    font-size: variables.$label-text;
    padding-top: variables.$header-text;
}

.introText {
    padding: variables.$small-padding;
    color: variables.$accent-color;
    text-wrap: wrap;
    text-align: center;
}

@media (max-width: variables.$stop-pc-breakpoint) {
    .headerText{
        font-size: clamp(variables.$label-text-min, variables.$scale-text-factor, variables.$label-text);
        padding-top: clamp(variables.$large-padding-min, variables.$scale-text-factor, variables.$large-padding);
    }

    .introText{
        font-size: clamp(variables.$info-text-min, variables.$scale-text-factor-small, variables.$info-text);
    }
}