@use '../../../partials/variables';

.headerText {
    color: variables.$accent-color;
    font-size: 32px;
    padding-top: 50px;
}

.introText {
    padding: 20px;
    color: variables.$accent-color;
    text-wrap: wrap;
    text-align: center;
}

@media (max-width: variables.$stop-pc-breakpoint) {
    .headerText{
        font-size: clamp(8px, 4vw, 32px);
        padding-top: clamp(24px, 4vw, 50px);
    }

    .introText{
        font-size: clamp(12px, 2vw, 20px);
    }
}